{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx"],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@Components": "./src/components/index.js"
      }
    }]
  ]
}