body,
html,
#root {
  width: 100%;
  height: 100%;
}

#root {
  height: 100vh;
  background-color: #f3f3f3;
}

.btn {
  padding: 4px 8px;
  transition: box-shadow 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s ease-in-out;
}

.primary {
  background-color: lightcoral;
}

.secondary {
  background-color: darkblue;
  color: #fff;
}

.app-header {
  background-color: #000;
  display: flex;
  place-content: center;
  padding: 16px 0;
}

.app-header img {
  width: 120px;
}

.app-footer {
  display: flex;
  place-content: center;
  padding: 16px 0;
  gap: 8px;
}
